<footer class="bg-body-tertiary">
  <div class="f-info">
    <div class="f-info-links border-bottom">
      <a href="#">Privacy</a>
      <a href="#">Terms</a>
    </div>
    <div class="f-info-copyright">
      <div class="f-info-copy-text">LuxeLiving Private Limited &copy; 2024</div>
      <div class="f-info-socials">
        <a href="https://www.linkedin.com/in/vansh-chauhan-741a5b257/" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
        <a href="https://github.com/VanshChauhan-1106" target="_blank"><i class="fa-brands fa-github-square"></i></a>
        <a href="https://www.instagram.com/vansh_.chauhan_/" target="_blank"><i class="fa-brands fa-square-instagram"></i></a>
      </div>
    </div>
  </div>
</footer>
