<% layout("/layouts/boilerplate") %>

<body>
  <h2>All Listings</h2>
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
    <% for(listing of allListings) { %>
    <div class="col">
      <a href="/listings/<%= listing._id %>" class="listing-link">
        <div class="card listing-card">
          <img
            src="<%= listing.image %>"
            alt="listng_image"
            class="card-img-top"
          />
          <div class="card-img-overlay"></div>
          <div class="card-body">
            <h5 class="card-title"><%= listing.title %></h5>
            <h6 class="card-text">
              &#8377; <%= listing.price.toLocaleString("en-IN") %> / night
            </h6>
          </div>
        </div>
      </a>
    </div>
    <% } %>
  </div>
</body>
